*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator-container {
    background-color: rgb(245, 238, 238);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    padding: 10px;
    border: 1px solid black;
}

#row-1, #row-2, #row-3, #row-4, #row-5{
    display: flex;
    flex: 1;
}

#btn-clear, #btn-delete, #btn-equals {
    flex-grow: 2;
}

#screen {
    background-color: rgb(202, 202, 202);
    position: relative;
    height: 100px;
    width: auto;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#screen-text {
    font-size: 45px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.btn {
    flex: 1;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 1px 2px rgb(46, 46, 46);
}

.btn.num {
    background-color: rgb(10, 187, 149);
}

.btn.oper {
    background-color: rgb(108, 108, 231);
}

#btn-equals {
    background-color: rgb(233, 103, 233);
}

#btn-clear {
    background-color: rgb(248, 191, 85);
}

#btn-delete {
    background-color: rgb(248, 81, 81);
}

.btn:active {
    transform: scale(0.95);
}